@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
}

#app {
  position: relative;
  overflow: hidden;
}

.navbar-top {
  background-color: #faf4ff;
}

.navbar-top a {
  color: #552244;
  font-weight: 900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-top a:hover {
  color: #bb3b0e;
}

.navbar-top .hambur {
  font-weight: 900;
  font-size: 14px;
  color: #552244;
  border: 1px solid #552244;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-top .hambur:hover {
  background-color: #552244;
  color: #faf4ff;
}

.navbar-top .hambur span {
  margin: 5px 10px 2px 10px;
}

header#jumbotron {
  margin: 0;
  padding: 0;
  height: 100%;
  margin-top: 59px;
}

@media (max-width: 576px) {
  header#jumbotron {
    margin-top: 95px;
  }
}

header#jumbotron img {
  width: 100%;
}

section {
  padding: 50px 0;
}

section#sectiom_info {
  background-color: #faf4ff;
  padding: 50px;
}

section#sectiom_info ul {
  margin-left: 20px;
}

section#sectiom_info hr {
  border: solid 1px #f3c623;
}

section#sectiom_info h3 {
  text-align: center;
}

section#sectiom_info h3,
section#sectiom_info h4 {
  font-weight: 900;
}

section#sectiom_info a.nav-link {
  color: #bb3b0e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 24px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-weight: 800;
  padding: 12px 30px 12px 30px;
}

section#sectiom_info a.nav-link.active {
  color: #faf4ff;
  background-color: #bb3b0e;
}

section#sectiom_info .row.jp {
  font-weight: 800;
}

section#sectiom_info .row.jp .td {
  background-color: #bb3b0e;
  color: #faf4ff;
  text-align: center;
}

section#sectiom_info .row.jp .prize,
section#sectiom_info .row.jp .num {
  padding: 10px 0 10px 0;
  border-top: #f3c623 solid 1px;
}

section#sectiom_info .row.jp .num {
  text-align: center;
  border-left: #f3c623 solid 1px;
}

section#sectiom_info .tab-content {
  color: #bb3b0e;
  border: 5px solid #bb3b0e;
  border-radius: 20px;
  padding: 30px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

section#sectiom_info .tab-content .row.orderList {
  font-size: 18px;
  font-weight: 600;
  padding: 0 20px 0 20px;
}

section#sectiom_info .tab-content .row.orderList .order {
  width: 100%;
}

section#sectiom_info .tab-content .row.orderList .orderContent {
  padding-left: 20px;
}

section#sectiom_info .tab-content .row.orderList .tdContent {
  width: 100%;
  padding: 0 10% 0 10%;
}

section#sectiom_info .tab-content .row.orderList .tdContent .td,
section#sectiom_info .tab-content .row.orderList .tdContent .tr {
  text-align: center;
}

section#sectiom_info .tab-content .row.orderList .tdContent .td {
  text-align: center;
  background-color: #bb3b0e;
  color: #faf4ff;
}

section#sectiom_info .tab-content .row.orderList .tdContent .tr .tr-text {
  border-top: 1px #bb3b0e solid;
}

@media (max-width: 576px) {
  section#sectiom_info {
    padding: 0;
  }
  section#sectiom_info ul {
    margin-top: 20px;
  }
  section#sectiom_info a.nav-link {
    padding: 8px 12px 8px 12px;
    font-size: 18px;
  }
  section#sectiom_info .tab-content {
    border: 2px solid #bb3b0e;
    margin-bottom: 20px;
  }
  section#sectiom_info .tab-content .orderContent {
    padding-left: 0;
  }
  section#sectiom_info .tab-content .tdContent {
    width: 100%;
    padding: 0;
    font-size: 16px;
  }
  section#sectiom_info .tab-content .tdContent .td,
  section#sectiom_info .tab-content .tdContent .tr {
    text-align: center;
  }
  section#sectiom_info .tab-content .tdContent .td {
    text-align: center;
    background-color: #bb3b0e;
    color: #faf4ff;
  }
  section#sectiom_info .tab-content .tdContent .tr .tr-text {
    border-top: 1px #bb3b0e solid;
  }
}

section#sectiom_mv {
  background-color: #bb3b0e;
}

section#sectiom_mv .Btn {
  border: #f3c623 1px solid;
}

section#sectiom_mv hr {
  border: solid 1px #f3c623;
}

section#sectiom_mv .row.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #faf4ff;
  font-weight: 900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#sectiom_mv .row.text .Btn {
  background-color: #faf4ff;
  color: #bb3b0e;
  font-size: 18px;
  font-weight: 900;
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#sectiom_mv .row.text .Btn:hover {
  background-color: #e3c1ff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#sectiom_mv .row.text .Btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

section#sectiom_mv .row .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

section#sectiom_mv .row .video-container iframe,
section#sectiom_mv .row .video-container object,
section#sectiom_mv .row .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section#sectiom_mv2 {
  background-color: #faf4ff;
}

section#sectiom_mv2 .Btn {
  border: #f3c623 1px solid;
}

section#sectiom_mv2 hr {
  border: solid 1px #f3c623;
}

section#sectiom_mv2 .row.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #bb3b0e;
  font-weight: 900;
}

section#sectiom_mv2 .row.text .Btn {
  background-color: #bb3b0e;
  color: #faf4ff;
  font-size: 18px;
  font-weight: 900;
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section#sectiom_mv2 .row.text .Btn:hover {
  background-color: #ad370d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#sectiom_mv2 .row.text .Btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

section#sectiom_mv2 .row .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

section#sectiom_mv2 .row .video-container iframe,
section#sectiom_mv2 .row .video-container object,
section#sectiom_mv2 .row .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Btn-1 {
  height: 0;
  overflow: hidden;
}

section#footer {
  background-color: #f3c623;
}

section#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#footer .container a {
  color: #bb3b0e;
  font-size: 50px;
}

section#footer .container a:hover {
  color: #5c1d07;
}

section#footer .container p {
  color: #bb3b0e;
  font-weight: 900;
  margin-top: 10px;
  letter-spacing: 2px;
}

.menu {
  color: #bb3b0e;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  background-color: #383636;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
  padding-top: 100px;
}

.menu.menuOpen {
  opacity: 1;
  pointer-events: initial;
}

.menu#finished {
  text-align: center;
  font-weight: 900;
}

.menu#finished input {
  width: 100%;
  border: #f3c623 solid 2px;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0 10px 0;
  margin-bottom: 30px;
}

.menu .exit {
  position: absolute;
  right: 100px;
  top: 30px;
  font-size: 36px;
  padding: 0 12px 0 12px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #bb3b0e;
  color: #eedbff;
}

.menu .exit:hover {
  color: #faf4ff;
}

.menu .container {
  background-color: #faf4ff;
  border: 3px solid #bb3b0e;
  border-radius: 20px;
  padding: 50px;
}

.menu .container h3 {
  margin-bottom: 20px;
}

.menu .container label {
  padding-right: 20px;
  font-size: 18px;
}

.menu .container form {
  width: 100%;
}

.menu .container p {
  color: #faf4ff;
  font-size: 18px;
  padding-left: 10px;
  font-weight: 900;
  background-color: #d92027;
  width: 100%;
}

.menu .container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .container .btn .button {
  background-color: #bb3b0e;
  color: #faf4ff;
  font-size: 18px;
  font-weight: 900;
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: solid 1px #f3c623;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu .container .btn .button:hover {
  background-color: #8c2c0a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu .container .btn .button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (max-width: 576px) {
  .menu {
    padding: 0;
  }
  .menu .exit {
    right: 50px;
  }
  .menu .container {
    padding-top: 100px;
  }
  .menu .container h3 {
    font-size: 20px;
    font-weight: 900;
  }
}
