$color_main: #faf4ff;
$color_sec: #552244;
$color_hr: #f3c623;
$color_font: #bb3b0e;

* {
  font-family: 微軟正黑體;
}
body {
  -moz-user-select: none;
  -webkit-user-select: none;
}

#app {
  position: relative;
  overflow: hidden;
}

.navbar-top {
  background-color: $color_main;
  a {
    color: $color_sec;
    font-weight: 900;
    transition: 0.5s;
    &:hover {
      color: $color_font;
    }
  }
  .hambur {
    font-weight: 900;
    font-size: 14px;
    color: $color_sec;
    border: 1px solid $color_sec;
    align-items: center;
    padding: 0;
    transition: 0.5s;
    &:hover {
      background-color: $color_sec;
      color: $color_main;
    }
    span {
      margin: 5px 10px 2px 10px;
    }
  }
}

header#jumbotron {
  margin: 0;
  padding: 0;
  height: 100%;
  margin-top: 59px;
  @media (max-width: 576px) {
    margin-top: 95px;
  }
  img {
    width: 100%;
  }
}

section {
  padding: 50px 0;
}

section#sectiom_info {
  background-color: $color_main;
  padding: 50px;
  ul {
    margin-left: 20px;
  }
  hr {
    border: solid 1px $color_hr;
  }
  h3 {
    text-align: center;
  }
  h3,
  h4 {
    font-weight: 900;
  }
  a.nav-link {
    color: $color_font;
    transition: 0.5s;
    font-size: 24px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-weight: 800;
    padding: 12px 30px 12px 30px;
    &.active {
      color: $color_main;
      background-color: $color_font;
    }
  }
  .row.jp {
    font-weight: 800;
    .td {
      background-color: $color_font;
      color: $color_main;
      text-align: center;
    }
    .prize,
    .num {
      padding: 10px 0 10px 0;
      border-top: $color_hr solid 1px;
    }
    .num {
      text-align: center;
      border-left: $color_hr solid 1px;
    }
  }
  .tab-content {
    color: $color_font;
    border: 5px solid $color_font;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    .row.orderList {
      font-size: 18px;
      font-weight: 600;
      padding: 0 20px 0 20px;
      .order {
        width: 100%;
      }
      .orderContent {
        padding-left: 20px;
      }
      .tdContent {
        width: 100%;
        padding: 0 10% 0 10%;
        .td,
        .tr {
          text-align: center;
        }
        .td {
          text-align: center;
          background-color: $color_font;
          color: $color_main;
        }
        .tr .tr-text {
          border-top: 1px $color_font solid;
        }
      }
    }
  }

  @media (max-width: 576px) {
    padding: 0;
    ul {
      margin-top: 20px;
    }
    a.nav-link {
      padding: 8px 12px 8px 12px;
      font-size: 18px;
    }
    .tab-content {
      border: 2px solid $color_font;
      margin-bottom: 20px;
      .orderContent {
        padding-left: 0;
      }
      .tdContent {
        width: 100%;
        padding: 0;
        font-size: 16px;
        .td,
        .tr {
          text-align: center;
        }
        .td {
          text-align: center;
          background-color: $color_font;
          color: $color_main;
        }
        .tr .tr-text {
          border-top: 1px $color_font solid;
        }
      }
    }
  }
}

section#sectiom_mv {
  .Btn {
    border: $color_hr 1px solid;
  }
  background-color: $color_font;
  hr {
    border: solid 1px $color_hr;
  }
  .row {
    &.text {
      display: flex;
      justify-content: center;
      color: $color_main;
      font-weight: 900;
      transition: 0.5s;
      .Btn {
        background-color: $color_main;
        color: $color_font;
        font-size: 18px;
        font-weight: 900;
        margin-top: 40px;
        padding: 10px 30px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background-color: darken($color_main, 10%);
          transform: scale(1.1);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

section#sectiom_mv2 {
  background-color: $color_main;
  .Btn {
    border: $color_hr 1px solid;
  }
  hr {
    border: solid 1px $color_hr;
  }
  .row {
    &.text {
      display: flex;
      justify-content: center;
      color: $color_font;
      font-weight: 900;
      .Btn {
        background-color: $color_font;
        color: $color_main;
        font-size: 18px;
        font-weight: 900;
        margin-top: 40px;
        padding: 10px 30px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background-color: darken($color_font, 3%);
          transform: scale(1.1);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden;
      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.Btn-1 {
  height: 0;
  overflow: hidden;
}

section#footer {
  background-color: $color_hr;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: $color_font;
      font-size: 50px;
      &:hover {
        color: darken($color_font, 20%);
      }
    }
    p {
      color: $color_font;
      font-weight: 900;
      margin-top: 10px;
      letter-spacing: 2px;
    }
  }
}

.menu {
  color: $color_font;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: rgb(56, 54, 54);
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
  padding-top: 100px;
  &.menuOpen {
    opacity: 1;
    pointer-events: initial;
  }
  &#finished {
    text-align: center;
    font-weight: 900;
    input {
      width: 100%;
      border: $color_hr solid 2px;
      border-radius: 20px;
      text-align: center;
      padding: 10px 0 10px 0;
      margin-bottom: 30px;
    }
  }
  .exit {
    position: absolute;
    right: 100px;
    top: 30px;
    font-size: 36px;
    padding: 0 12px 0 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    background-color: $color_font;
    color: darken($color_main, 5%);
    &:hover {
      color: $color_main;
    }
  }
  .container {
    background-color: $color_main;
    border: 3px solid $color_font;
    border-radius: 20px;
    padding: 50px;
    h3 {
      margin-bottom: 20px;
    }
    label {
      padding-right: 20px;
      font-size: 18px;
    }
    form {
      width: 100%;
    }
    p {
      color: $color_main;
      font-size: 18px;
      padding-left: 10px;
      font-weight: 900;
      background-color: #d92027;
      width: 100%;
    }
    .btn {
      display: flex;
      justify-content: center;
      .button {
        background-color: $color_font;
        color: $color_main;
        font-size: 18px;
        font-weight: 900;
        margin-top: 40px;
        padding: 10px 30px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        border: solid 1px $color_hr;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          background-color: darken($color_font, 10%);
          transform: scale(1.1);
        }
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
  @media (max-width: 576px) {
    padding: 0;
    .exit {
      right: 50px;
    }
    .container {
      padding-top: 100px;
      h3 {
        font-size: 20px;
        font-weight: 900;
      }
    }
  }
}
